<section class="pr-categories">
    <div class="container">
        <h2>Categories</h2>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/baked.png" alt="Baking icon">
                    <a href="/categories/baked">Baked</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/breakfast.png" alt="Breakfast icon">
                    <a href="/categories/breakfast">Breakfast</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/dessert.png" alt="Desert icon">
                    <a href="/categories/dessert">Dessert</a>
                </div>

            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/soup.png" alt="Soup icon">
                    <a href="/categories/soup">Soup</a>
                </div>

            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/roast.png" alt="Roast icon">
                    <a href="/categories/roast">Roast</a>
                </div>

            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/vegan.png" alt="Vegan icon">
                    <a href="/categories/vegan">Vegan</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/stew.png" alt="Stew icon">
                    <a href="/categories/stew">Stew</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/snack.png" alt="Sandwitch icon">
                    <a href="/categories/snack">Snack</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/grilled.png" alt="Grilled icon">
                    <a href="/categories/grilled">Grilled</a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/fried.png" alt="Fried icon">
                    <a href="/categories/fried">Fried</a>
                </div>
            </div>
        </div>
    </div>
</section>
