<section class="pr-categories">
    <div class="container">
        <h2 class="mb-5">Categories</h2>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/bake.svg" alt="Baking icon">
                    <a href="/categories/baked">Baked</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/breakfast.svg" alt="Breakfast icon">
                    <a href="/categories/breakfast">Breakfast</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/dessert.svg" alt="Desert icon">
                    <a href="/categories/dessert">Dessert</a>
                </div>

            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/soup.svg" alt="Soup icon">
                    <a href="/categories/soup">Soup</a>
                </div>

            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/roast.svg" alt="Roast icon">
                    <a href="/categories/roast">Roast</a>
                </div>

            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/vegan.svg" alt="Vegan icon">
                    <a href="/categories/vegan">Vegan</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/stew.svg" alt="Stew icon">
                    <a href="/categories/stew">Stew</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/snack.svg" alt="Sandwitch icon">
                    <a href="/categories/snack">Snack</a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <div class="pr-category d-flex flex-column align-items-center justify-content-center">
                    <img src="/img/category-icons/barbecue.svg" alt="Barbecue icon">
                    <a href="/categories/barbecue">Barbecue</a>
                </div>
            </div>
        </div>
    </div>
</section>
