<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-3">
                <h5 class="font-weight-bold mb-3">About Paula's recipes</h5>
                <p>Adipisicing fuga totam possimus corrupti ratione possimus. Tenetur earum ex doloremque nihil at Excepturi est magni magnam veniam ipsam. Illo praesentium natus maxime sint sequi Alias ea illum voluptate in!</p>
            </div>
            <div class="col-sm-12 col-md-4 mb-5">
                <h5 class="font-weight-bold mb-3">Instagram</h5>
                <a href="#"><img style="width: 64px;" src="/img/social-icons/instagram.svg" alt="Instagram icon"></a>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5 class="font-weight-bold mb-3"5>Subscribe</h5>
                <form name="subscription" method="POST" data-netlify="true">
                    <div class="input-group">
                        <p>If you'd like to get notified when a new recipe is posted, then feel free to subscribe.</p>
                        <label class="sr-only" aria-label="Enter your email" for="pr-subscribe__email">Email</label>
                        <input name="email" id="pr-subscribe__email" class="form-control" type="email" placeholder="Email" required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-sm btn-outline-light">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
