{{ define "main" }}
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script type="text/javascript">

    // define globale variables
    var idx, searchInput, searchResults = null
    var documents = []

    function renderSearchResults(results) {

        if (results.length > 0) {

            // show max 10 results
            if (results.length > 9) {
                results = results.slice(0, 10)
            }

            // reset search results
            searchResults.innerHTML = ''

            // append results
            results.forEach(result => {

                // create result item
                var article = document.createElement('article')
                article.innerHTML = `
            <div class="pr-search-results">
                <div class="pr-search-results__image mr-3" style="background-image: url('${documents[result.ref].image}')"></div>
                <a href="${result.ref}"><h3 class="title">${documents[result.ref].title}</h3></a>
            </div>
            <br>
            `
                searchResults.appendChild(article)
            })

            // if results are empty
        } else {
            searchResults.innerHTML = '<p>No results found.</p>'
        }
    }

    function registerSearchHandler() {

        // register on input event
        searchInput.oninput = function (event) {

            // remove search results if the user empties the search input field
            if (searchInput.value == '') {

                searchResults.innerHTML = ''
            } else {

                // get input value
                var query = event.target.value

                // run fuzzy search
                var results = idx.search(query + '*')

                // render results
                renderSearchResults(results)
            }
        }

        // set focus on search input and remove loading placeholder
        searchInput.focus()
        searchInput.placeholder = ''
    }

    window.onload = function () {

        // get dom elements
        searchInput = document.getElementById('search-input')
        searchResults = document.getElementById('search-results')

        // request and index documents
        fetch('/recipes/index.json', {
            method: 'get'
        }).then(
            res => res.json()
        ).then(
            res => {

                // index document
                idx = lunr(function () {
                    this.ref('url')
                    this.field('title')
                    this.field('image')

                    res.forEach(function (doc) {
                        this.add(doc)
                        documents[doc.url] = {
                            'title': doc.title,
                            'image': doc.image,
                        }
                    }, this)
                })

                // data is loaded, next register handler
                registerSearchHandler()
            }
        ).catch(
            err => {
                searchResults.innerHTML = `<p>${err}</p>`
            }
        )
    }

</script>
<section>
    <div class="container">
        <div class="row pb-5">
            <div class="col-sm-12 col-md-6">
                <h2 class="mt-5 mb-3 text-dark">Search for recipes</h2>
                <input id="search-input" class="form-control" type="text" placeholder="Loading..." name="search">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section style="min-height: 100px;" id="search-results" class="search"></section>
            </div>
        </div>
    </div>

    {{ partial "categories" . }}
</section>



{{ end }}